<div class="registration">

  <app-step-header logo="assets/imgs/step-header.svg" class="registration__header">
    <ng-container data-title>Preparemos tu Registro</ng-container>
    <ng-container data-subtitle>Queremos saber si ya eres cliente para activar tu Banca Virtual.</ng-container>
  </app-step-header>
  
  <app-card class="registration__content">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi praesentium, numquam corporis nesciunt at fugit quasi nobis iure! At asperiores, vitae quaerat officiis aperiam dicta explicabo accusamus obcaecati vero labore!</p>
  </app-card>

</div>