<div class="registration">

  <app-step-header logo="assets/imgs/step-header.svg" class="registration__header">
    <ng-container data-title>Preparemos tu Registro</ng-container>
    <ng-container data-subtitle>Queremos saber si ya eres cliente para activar tu Banca Virtual.</ng-container>
  </app-step-header>
  
  <app-card class="registration__content">

    <router-outlet></router-outlet>
    
    <p class="registration__login-message">¿Ya tienes usuario? <a class="link" routerLink="/login">Inicia Sesión</a></p>

    <app-secured-site></app-secured-site>

  </app-card>

</div>
